absl-py
astunparse==1.6.3
flatbuffers
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
joblib==1.4.2
keras>=3.0.0
ml-dtypes==0.3.2
numpy==1.26.4
openpyxl==3.1.4  
opt-einsum==3.3.0
pandas==1.5.3
plotly==5.22.0
protobuf==4.25.3
requests==2.32.3
scikit-learn==1.5.0
six==1.16.0
streamlit==1.35.0
st-pages==0.4.5
tensorboard==2.16.1
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-cpu==2.16.1
termcolor==2.4.0
typing-extensions==4.12.2
werkzeug==3.0.3
wrapt==1.16.0
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
scipy>=1.6.0
threadpoolctl>=3.1.0
altair<6,>=4.0
blinker<2,>=1.0.0
cachetools<6,>=4.0
click<9,>=7.0
